@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="text-center">
    <dotlottie-player src="https://lottie.host/c0844d4e-9c05-4d18-99cc-f6ee11fde012/gucxeQFgMo.json" background="transparent" speed="1" style="width: 400px; height: 400px;margin: auto" loop autoplay></dotlottie-player>
    <div class="section text-start">
        <h2 class="text-center">Welcome to Yelp Clone: Discover and Review Restaurants</h2>
        <div>
            <p>
                Looking for the perfect place to satisfy your cravings? Look no further! Yelp Clone is your go-to destination for
                exploring and reviewing restaurants in your area. Whether you're a foodie searching for new culinary experiences
                or just craving your favorite dish, we've got you covered.
            </p>
        </div>
        <hr />
        <h2 class="text-center pt-2">What sets Yelp Clone apart?</h2>
        <div class="d-flex flex-row flex-wrap gap-1 justify-content-between">
            <div class="card bg-light mb-3">
                <h4 class="card-header">🌟 Discover Restaurants Near You</h4>
                <div class="card-body">
                    <p class="card-text">
                        Using cutting-edge location-based technology, Yelp Clone helps you discover restaurants based on your
                        current location. Simply enter your location, and our platform will present you with a curated list
                        of top-rated restaurants nearby. From cozy cafes to five-star dining experiences, explore a variety
                        of cuisines and dining options at your fingertips.
                    </p>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <h4 class="card-header">🌟 Real User Reviews</h4>
                <div class="card-body">
                    <p class="card-text">
                        Get insights from the community! Yelp Clone thrives on user-generated content. Read authentic reviews
                        from fellow food enthusiasts who have visited these restaurants. Find out about the ambiance, service
                        quality, menu highlights, and overall dining experience before making your choice. And hey, if you've
                        dined at a restaurant, share your thoughts too! Your reviews can help others in their quest for great
                        food.
                    </p>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <h4 class="card-header">🌟 Favorite Your Picks</h4>
                <div class="card-body">
                    <p class="card-text">
                        Found a gem of a restaurant? Save it to your favorites! Keep track of your preferred dining spots by
                        favoriting them for quick access later. Never lose sight of that perfect brunch place or the cozy
                        dinner spot you stumbled upon.
                    </p>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <h4 class="card-header">🌟 User-Friendly Interface</h4>
                <div class="card-body">
                    <p class="card-text">
                        Our platform is designed with simplicity in mind. Easily navigate through restaurants, reviews, and user
                        profiles. Our intuitive interface ensures a seamless experience, allowing you to focus on what matters
                        most—finding amazing food.
                    </p>
                </div>
            </div>

            <div>
                <p>
                    Ready to embark on a culinary adventure? Sign up for Yelp Clone now and start exploring the vibrant world of dining near you.
                    Whether you're a casual diner or a seasoned food critic, there's something here for everyone.
                </p>
                <p>Join Yelp Clone today and let your taste buds lead the way!✨</p>
            </div>
        </div>

    </div>